.movie-list {
  list-style: none;
  display: flex;
  padding: 0 40px;
  width: 50%;
  flex-direction: column;
  gap: 25px;
}
.movie-list > li {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.movie-img {
  display: block;
  height: 250px;
  width: 350px;
}
.container-movie-info {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.movie-container {
  margin-top: 40px;
}
h1,
h2,
h3 {
  margin: 0;
}
.movie-info
{
  list-style: none;
  display: flex;
  padding: 0 40px;
  
  flex-direction: row;
  gap: 25px;
}
.addition-info 
{
  margin-top: 50px;
  
}
.addition-info > ul 
{
  display: flex;
  gap: 10px;
}